.frame-child,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1560px;
  height: 736px;
}
.frame-child {
  object-fit: cover;
}
.frame-item {
  background-color: rgba(0, 0, 0, 0.4);
}
.frame-inner {
  position: absolute;
  top: 145px;
  left: 335px;
  background-color: var(--color-gainsboro-200);
  width: 932px;
  height: 488px;
}
.unlock-your-career {
  position: absolute;
  top: 85px;
  left: 410px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-lexend-exa);
  color: var(--color-white);
}
.frame-child1,
.frame-child2,
.rectangle-div {
  position: absolute;
  top: 226px;
  left: 482px;
  background-color: var(--color-gainsboro-100);
  width: 596px;
  height: 59px;
}
.frame-child1,
.frame-child2 {
  top: 309px;
}
.frame-child2 {
  top: 431px;
  left: 651px;
  border-radius: var(--br-11xl);
  width: 261px;
  height: 45px;
  cursor: pointer;
}
.enter-password,
.enter-registered-mobile {
  position: absolute;
  top: 234px;
  left: 501px;
  display: inline-block;
  width: 357px;
  height: 22px;
}
.enter-password {
  top: 317px;
}
.forgot-password {
  top: 371px;
  left: 501px;
  width: 300px;
  height: 36px;
}
.forgot-password,
.login,
.login-with-otp {
  position: absolute;
  display: inline-block;
}
.login-with-otp {
  top: 479px;
  left: 726px;
  width: 149px;
  height: 36px;
  cursor: pointer;
}
.login {
  top: 435px;
  left: 739px;
  width: 86px;
  height: 37px;
}
.desktop-1,
.rectangle-parent {
  background-color: var(--color-white);
  height: 736px;
  overflow: hidden;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1560px;
}
.desktop-1 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-amiri);
}
